<div>
    <div>{{ 'MOBILE_POST.TITLE' | translate }}</div>
    <form [formGroup]="form" class="ui form error">
        <div class="form-container">
            <div class="ui action input field-row">
                <input type="text" matInput formControlName="keyword" [matAutocomplete]="autoMobileCode"
                    id="input-text-keyword">
                <mat-autocomplete #autoMobileCode="matAutocomplete">
                    @for (option of filteredOptions['keyword'] | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <div #advSearchButton>
                    <button class="ui icon button" (click)="switchAdvSearch()">
                        <i class="sliders horizontal icon"></i>
                    </button>
                </div>
                <div>
                    <button class="ui icon button" (click)="onSubmit()">
                        <i class="search icon"></i>
                    </button>

                </div>
                <div>
                    <button class="ui icon button" (click)="createMobilePostDialog()">
                        <i class="add icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui segment field-row advSearch" #advSearchContainer
                [style.display]="openAdvancedSearch ? 'block' : 'none'">
                @for(key of advQueryKey ;track key) {
                @if(key.type && key.type == 'text' || key.type == 'timeRange' || key.type == 'array') {
                <div class="inline field">
                    <label class="advSearch-field">{{ 'MOBILE_POST.QUERY.' + key.field | translate}}</label>
                    @switch (key.type) {
                    @case ('text'){

                    <input type="text" class="advSearch-input-text" formControlName="{{key.field}}"
                        [matAutocomplete]="auto">

                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions[key.field] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                    }
                    @case ('timeRange'){

                    <input class="advSearch-input" type="time" formControlName="{{key.field}}Start">
                    <label style="margin: 0 8px">-</label>
                    <input class="advSearch-input" type="time" formControlName="{{key.field}}End">

                    }
                    @case ('array'){
                    @let optionsResult = getUniqueOptions(key.field,expandedFields[key.field]);


                    @for(option of optionsResult.option; track option) {
                    <mat-checkbox (change)="updateArrayValue(key.field, option, $event)"
                        [checked]="form.controls[key.field].value?.includes(option)">
                        {{ option }}
                    </mat-checkbox>
                    }
                    @if(optionsResult.overLimit) {
                    <div class="expand-button-container">
                        <button mat-icon-button (click)="toggleExpand(key.field)">
                            <mat-icon>
                                {{ expandedFields[key.field] ? 'expand_less' : 'expand_more' }}
                            </mat-icon>
                        </button>
                    </div>

                    }
                    }

                    @default {

                    }
                    }
                </div>
                }

                }


            </div>
            <div class="filter-option-button-row">
                @for(key of advQueryKey ;track key) {

                @if(form.value[key.field] && key.type && key.type == 'text' || (key.type == 'timeRange' &&
                (this.form.controls[key.field+'Start'].value || this.form.controls[key.field+'End'].value)) || (key.type
                == 'array' && this.form.controls[key.field].value.length >0)) {
                <button matButton="outlined" extended class="filter-option-button"
                    (click)="key.type == 'timeRange' ? removeValue([key.field+'Start',key.field+'End']) : removeValue(key.field)">
                    {{ 'MOBILE_POST.QUERY.' + key.field | translate}} =

                    @switch (key.type) {
                    @case('text') {
                    {{form.value[key.field]}}
                    }
                    @case ('timeRange') {

                    {{form.value[key.field+'Start']}} @if(form.value[key.field+'Start'] && form.value[key.field+'End'])
                    {-} {{form.value[key.field+'End']}}
                    }
                    @case ('array') {
                    {{form.value[key.field] | json }}
                    }
                    }
                    <mat-icon>close</mat-icon>
                </button>
                }


                }
                <button matButton="outlined" extended class="filter-option-button" (click)="removeAllValue()">
                    {{ 'MOBILE_POST.QUERY.CLEAR_ALL' | translate}}
                    <mat-icon>close</mat-icon>
                </button>
            </div>


        </div>
    </form>
</div>