<!-- <div class="ui raised segment">
    <div>{{ 'MOBILE_POST.TITLE' | translate }}</div>
    <form [formGroup]="form" class="ui form error">
        <div class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.MOBILE_CODE' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.MOBILE_CODE' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.MOBILE_CODE' | translate }}"
                    matInput
                    formControlName="mobileCode"
                    [matAutocomplete]="autoMobileCode">
                <mat-autocomplete #autoMobileCode="matAutocomplete">
                    @for (option of filteredOptions['mobileCode'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            
        </div>
        <div class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.LOCATION_EN' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_EN' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_EN' | translate }}"
                    matInput
                    formControlName="locationEN"
                    [matAutocomplete]="autoLocationEN">
                <mat-autocomplete #autoLocationEN="matAutocomplete">
                    @for (option of filteredOptions['locationEN'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.LOCATION_TC' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_TC' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_TC' | translate }}"
                    matInput
                    formControlName="locationTC"
                    [matAutocomplete]="autoLocationTC">
                <mat-autocomplete #autoLocationTC="matAutocomplete">
                    @for (option of filteredOptions['locationTC'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.LOCATION_SC' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_SC' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.LOCATION_SC' | translate }}"
                    matInput
                    formControlName="locationSC"
                    [matAutocomplete]="autoLocationSC">
                <mat-autocomplete #autoLocationSC="matAutocomplete">
                    @for (option of filteredOptions['locationSC'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.ADDRESS_EN' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_EN' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_EN' | translate }}"
                    matInput
                    formControlName="addressEN"
                    [matAutocomplete]="autoAddressEN">
                <mat-autocomplete #autoAddressEN="matAutocomplete">
                    @for (option of filteredOptions['addressEN'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.ADDRESS_TC' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_TC' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_TC' | translate }}"
                    matInput
                    formControlName="addressTC"
                    [matAutocomplete]="autoAddressTC">
                <mat-autocomplete #autoAddressTC="matAutocomplete">
                    @for (option of filteredOptions['addressTC'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'MOBILE_POST.FIELDS.ADDRESS_SC' | translate }}</mat-label>
                <input type="text"
                    placeholder="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_SC' | translate }}"
                    aria-label="{{ 'MOBILE_POST.PLACEHOLDER.ADDRESS_SC' | translate }}"
                    matInput
                    formControlName="addressSC"
                    [matAutocomplete]="autoAddressSC">
                <mat-autocomplete #autoAddressSC="matAutocomplete">
                    @for (option of filteredOptions['addressSC'] | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>

        
        {{form.value | json}}
        {{form.status | json}}
    </form>
</div>


 -->


<div class="ui raised segment form-container">

    <div class="form-content">
        <div class="ui header">{{ 'MOBILE_POST.TITLE.'+actionString| translate }}</div>

        <mat-stepper linear #stepper>
            <mat-step [stepControl]="basicInfoForm" isOptional="true">
                <form [formGroup]="basicInfoForm" class="ui form">
                    <ng-template matStepLabel>{{ 'FORM.STEPS.BASIC_INFO' | translate }}</ng-template>

                    @for(key of this.key.basicInfo; track key) {
                    @if(!hiddenField.includes(key.field)) {
                    <div class="inline field">
                        <label class="advSearch-field">{{ 'MOBILE_POST.FIELDS.' + key.field| translate}}</label>


                        <input type="text" class="advSearch-input-text" formControlName="{{key.field}}"
                            [matAutocomplete]="auto">

                        <mat-autocomplete #auto="matAutocomplete">
                            @for (option of filteredOptions[key.field] | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </div>
                    }

                    }
                    <div>
                        <button class="ui button submit-button" matButton matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="locationForm">
                <form [formGroup]="locationForm" class="ui form">
                    <ng-template matStepLabel>{{ 'FORM.STEPS.LOCATION' | translate }}</ng-template>

                    @for(key of locationFormKey; track key) {
                    @if(!hiddenField.includes(key)) {
                    <div class="inline field">
                        <label class="advSearch-field">{{ 'MOBILE_POST.FIELDS.' + key | translate}}</label>


                        <input type="text" class="advSearch-input-text" formControlName="{{key}}"
                            [matAutocomplete]="auto">

                        <mat-autocomplete #auto="matAutocomplete">
                            @for (option of filteredOptions[key] | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </div>
                    }

                    }
                    <div>
                        <button class="ui button back-button" matButton matStepperPrevious>Back</button>
                    </div>
                    <div>
                        <button class="ui button submit-button" matButton matStepperNext>Next</button>
                    </div>

                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button matButton matStepperPrevious>Back</button>
                    <button matButton (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</div>