.form-container{
    max-height: 100%; 
    overflow-y: hidden; 
    
  }

.form-content{
    height: 75vh;
    max-height: 75vh; 
    overflow-y: auto; 
}

.submit-button{
    float: right;
    margin-top: 10px;
}
.form-actions-row{
    height : 10vh;
}
.form-title-row{
    height : 25vh;
}