.form-container {
    max-height: 100%;

}

.form-content {
    height: 90%;
    max-height: 90%;
}

.submit-button {
    float: right;
    margin-top: 10px;
}

.form-actions-row {
    height: 10vh;
}

.form-title-row {
    height: 25vh;
}

#map {
    height: 200px;
    width : 100%
}

.form {
  max-height: 70vh;      
  overflow-y: auto;       
  padding-right: 8px; 
}